<div class="card-deck">
  <div class="card text-center">
    <div class="card-header">
      <h5 class="card-title">
        <strong>
          <% if schedule.opponent == 'Intraclub' %>
            <%= schedule.opponent %>
          <% else %>
            Marin Socials vs. <%= schedule.opponent %>
          <% end %>
        </strong>
      </h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        <%= schedule.date.to_formatted_s(:long) %>
      </p>
      <p class="card-text">
        Series Game: <%= schedule.series_game %>
      </p>
      <p class="card-text">
        <%= schedule.location %>
      </p>
      <%= link_to 'Sign Up for Game', availability_schedule_path(schedule), class: 'btn btn-primary' if logged_in?  %>
    </div>
      <div class="card-footer">
        <span><%= link_to 'Game Information', schedule %></span>
        <% if logged_in? && current_user.admin? %>
          <span class="float-left"><%= link_to 'Edit Game', edit_schedule_path(schedule) %></span>
          <span class="float-right"><%= link_to 'Delete Game', schedule, method: :delete, data: { confirm: 'You sure brah?' } %></span>
        <% end %>
      </div>
  </div>
</div>
