<%= form_for(@schedule) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <p>Total Player Signups: <%= @schedule.selections.count %></p>

  <%= hidden_field_tag 'schedule[user_ids][]', nil %>
  <% @schedule.users.each do |user| %>
    <%= check_box_tag 'schedule[user_ids][]', user.id, @schedule.user_ids.include?(user.id), id: dom_id(user) %>
    <p><strong><%= label_tag dom_id(user), user.name %> <%= user.surname %></strong></p>
    <p>Games played: <%= user.player_stat.games_played + user.selections.count %></p>
    <p>Last played:
      <% if user.selections[-2].blank? %>
        None
      <% else %>
        <%= user.selections[-2].schedule.date.strftime('%A %B %d') %>
      <% end %>
    </p>
  <% end %>

  <%= submit_tag 'Save Lineup', class: 'btn btn-success', data: { confirm: 'Confirm Lineup?' } %>

<% end %>
