<% provide(:title, 'Edit Game') %>
<% provide(:button_text, 'Save Changes') %>

<% if @schedule.selections.empty? %>

  <h1>Update Game</h1>
  <div class="form-group row justify-content-around">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
      <h3>Update Game Details</h3>
      <%= render 'form' %>
    </div>

    <% if @schedule.date < Date.today %>
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
        <h3>Game Score</h3>
        <%= render 'score' %>
      </div>
    <% end %>
  </div>

<% else %>

  <h1>Update Game</h1>
  <div class="form-group row justify-content-around">
    <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
      <h3>Update Game Details</h3>
      <%= render 'form' %>
    </div>

    <% if next_week.cover?(@schedule.date) %>
      <div class="col-md-4">
        <h3>Player Selection</h3>
        <%= render 'selection' %>
      </div>
    <% else %>

      <% if @schedule.date < Date.today %>
      <div class="col-xl-4 col-lg-6 col-md-8 col-sm-12 col-12">
          <h3>Game Score</h3>
          <%= render 'score' %>
        </div>
      <% end %>

    <% end %>
  </div>

<% end %>
