<% provide(:title, @schedule.opponent) %>

<% if @schedule.date > Date.today %>

  <div class="row justify-content-around">
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
      <%= render 'schedules/partials/match_centre' %>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
      <%= render 'schedules/partials/run_times' %>
    </div>
  </div>
  <%= render 'schedules/partials/logged_in' %>

<% else %>

  <div class="row justify-content-around">
    <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 col-12">
      <%= render 'schedules/partials/match_centre' %>
      <%= render 'schedules/partials/scorecard' %>
    </div>
  </div>

<% end %>

<%= render 'schedules/partials/admin_buttons' %>

<% if @schedule.team == 'Socials' %>
  <div class="row justify-content-around">
    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-4">
      <%= render 'schedules/partials/paypal_button' %>
    </div>
  </div>
<% end %>
