<% provide(:title, @schedule.opponent) %>

<% if @schedule.date > Date.today %>
  <div class="row justify-content-around">
    <div class="col-7">
      <%= render 'schedules/partials/match_centre' %>
    </div>
    <div class="col-3">
      <%= render 'schedules/partials/run_times' %>
    </div>
  </div>
  <%= render 'schedules/partials/logged_in' %>

<% else %>
<div class="row justify-content-around">
  <div class="col-7">
    <%= render 'schedules/partials/match_centre' %>
    <%= render 'schedules/partials/scorecard' %>
  </div>
</div>
<% end %>

<%= render 'schedules/partials/admin_buttons' %>
<% console %>
