<% provide(:title, @schedule.opponent) %>

<h1>Game Information</h1>
<ul>
  <li><%= @schedule.date %></li>
  <li><%= @schedule.opponent %></li>
  <li>Game <%= @schedule.series_game %></li>
  <li><%= @schedule.location %></li>
</ul>
<%= link_to 'Sign Up for Game', availability_schedule_path(@schedule), class: 'btn btn-primary' if logged_in? %>

<ul>
  <% if logged_in? && current_user.admin? %>
    <%= hidden_field_tag 'schedule[user_ids][]', nil %>
    <% User.all.each do |user| %>
      <%= check_box_tag 'schedule[user_ids][]', user.id, @schedule.user_ids.include?(user.id), id: dom_id(user) %>
      <%= label_tag dom_id(user), user.name %>
    <% end %>
</ul>
<%= submit_tag 'Save Lineup', class: 'btn btn-primary', data: { confirm: 'Confirm lineup?' } %>
<% end %>
