<li class="nav-item">
  <%= link_to 'Players', users_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'About', about_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Schedule', schedules_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Contact', contact_index_path, class: 'nav-link' %>
</li>
<li class="nav-item">
  <%= link_to 'Sponsors', sponsors_path, class: 'nav-link' %>
</li>
