<nav class="navbar navbar-expand-lg navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content"
                aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <%= link_to image_tag('mcc_logo.png',
    alt: 'Marin Cricket Club'), root_path, class: 'navbar-brand nav-img img-fluid' %>
  <%= link_to 'Marin Cricket Club', root_path, class: 'navbar-brand' %>

  <div class="collapse navbar-collapse justify-content-end" id="nav-content">
    <ul class="navbar-nav">
      <% if logged_in? %>
        <%= render 'layouts/partials/if_logged_in' %>
        <%= render 'layouts/partials/nav_links' %>
      <% else %>
        <%= render 'layouts/partials/nav_links' %>
        <li class="nav-item">
          <%= link_to 'Log In', login_path, class: 'nav-link' %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
